[2011-03-16 06:22] awakecoding opened #2 "NLA Unicode Support"
Network Level Authentication, unlike the older authentication mechanism, has an extra challenge when it comes to unicode support: the username and passwords must be uppercased in unicode. Even though the current development sources will correctly use iconv for the unicode conversion, there is no mechanism to properly uppercase unicode characters. Since this is required in order to compute the corr

[2011-03-16 10:47] kiilerix commented on #2
For the record: The uppercasing only applies to the old LM passwords that for some reason is included as an insecure fallback in NTLM.

AFAICS the LM password is never used with NLA. It would be nice to have full support for the protocol, but it seems like it doesn't matter, never will be used, and can't be verified against MS servers.

[2011-03-16 17:33] awakecoding commented on #2
Actually, I did provide an LM implementation, but after I got NLA working I realized I could simply zero out the LmChallengeResponse. I don't think that we would encounter a server requiring a valid LmChallengeReponse, so I could just get rid of the LM authentication code completely, and just keep NTLMv2.

[2011-03-16 17:34] awakecoding commented on #2
@killerix: uppercasing also happens in NTLMv2, not just LM.

[2011-03-16 18:45] kiilerix commented on #2
On 03/16/2011 06:34 PM, awakecoding wrote:

Ok, yes, I was only referring to uppercasing of passwords.

Do unicode usernames (and domains) generally work ok - also with NLA? I
would assume that even if it worked in theory there would be so many
problems in strange places that it really wouldn't work.

[2011-03-17 17:27] awakecoding commented on #2
Ok, regarding what gets uppercased, I looked back at the source code, and only the username is uppercased, not the password. This means that unicode passwords should work properly, but not unicode usernames with non US ASCII characters.

[2011-03-31 21:09] eduardobeloni opened #7 "Return value man page section"
Create a section in the man page to explain the exit codes

[2011-04-24 06:37] cuzz opened #11 ""freerdp_uniconv_out" error dealing with multi-byte characters under Windows"
freerdp Version:   v0.8.2-515-gc1f0fe0
OS:  Windows Xp SP3 ( Chinese )
Symptoms:   When connecting to a RDP Server from Windows( Chinese version), the wfreerdp process collapsed .
Analysis:  When parameter str is multi-byte characters (for example, Chinese,Kerean, Japanese), the function **\* freerdp_uniconv_out **\* (libfreerdputils,unicode.c) deals in a wrong way.

The easiest way to solve the p

[2011-04-26 20:38] eduardobeloni opened #12 "Colours messed up in depth 16"
Hello,

I've found an issue with X server running in depth 16 bpp.
Take a look: http://i53.tinypic.com/2naqy5v.png

Pay attention to the texts in the menu and to the WordPad application. Some colours are definitely messed up.

When I change my X server to 24 bpp, it works fine.

[2011-04-27 02:37] awakecoding commented on #12
This is most likely linked with the recent refactoring of the color conversion code. I will get more time to work on fixing it in about a week or two, sorry about that. It has to do with the individual color conversion code, and not the image conversion code.

[2011-05-02 17:09] awakecoding commented on #12
I have just pushed a fix, the failure case shown should now work, and a lot of other corner cases have been fixed as well.

[2011-05-02 17:33] eduardobeloni commented on #12
I'm afraid this issue is not solved yet.

This is a connection to win 7: http://i54.tinypic.com/2aifo7b.png
and this is a connection to win 2003: http://i51.tinypic.com/wl3ekw.png

This is a small part of my xorg.conf:
Section "Screen"
 Identifier "Screen"
 Device  "Video"
 Monitor  "Monitor"
 DefaultDepth 16
 SubSection "Display"
  Depth  16
  Modes  "1680x1050"
  Virtual 1680 1050
 EndSubSection

[2011-05-02 17:39] awakecoding commented on #12
Did you do a make clean and rebuilt? The previous code was dependent on compile-time options that could screw things up, while the newer code uses run-time options.

The problems shown are most likely related to the FillRect() implementation in 16bpp. Is your system 32 or 64bit, and is it a little-endian architecture?

I also noticed that your xorg.conf specifies a 16bpp color depth. I'm curious,

[2011-05-02 17:42] awakecoding commented on #12
I forgot to specify: I do not have the problem when connecting to Windows 7 or any of my virtual machines.

I'm running openSUSE 11.4 64-bit. My xorg.conf uses the following:

Section "Screen"
    Identifier     "Screen0"
    Device         "Device0"
    Monitor        "Monitor0"
    DefaultDepth    24
    Option         "TwinView" "1"
    Option         "TwinViewXineramaInfoOrder" "DFP-0"
    Opt

[2011-05-02 17:48] awakecoding commented on #12
I confirm that the problem is actually triggered by the X11 server running in 16bpp mode. I have modified my xorg.conf to use 16bpp, and now I can reproduce the problem which you have. I'll need to look into why this is happening.

[2011-05-03 18:29] awakecoding commented on #12
Ok, I just pushed another fix that should correct the issues encountered when the X11 server is running in 16bpp mode. I have fixed the various problems that would happen with 16bpp<->32bpp color conversion paths. I also fixed the case where the server sends the bitmaps in 32bpp to a client running in 16bpp (inefficient, of course) so that it properly converts from 32bpp to 16bpp.

I have tried xf

[2011-05-04 09:21] jpotier opened #13 "Compilation problem"
Hi !

I had to cope with some unchecked dependencies when I built freerdp, configure script missed missing :
- `Xv.h` (in package `x11proto-video-dev`), and
- `Xvlib.h` (in package `libxv-dev`)

which are _required_ to build. After adding the missing packages on my system (debian-testing) it ran fine.
##

**MPO**

[2011-05-04 12:44] eduardobeloni commented on #12
Well, unfortunately for me still the same when X server is running in 16bpp: http://i54.tinypic.com/2924niq.png

Can I help you with any debugging?

[2011-05-04 14:27] awakecoding commented on #12
Ok, now I am truly mystified

I need to find at least a hint of what could be the reason for this.

Distro?
CPU Endianness?
X11 server?

Can you also give me the command-line options which you are using when connecting?

Also, how are you launching xfreerdp? Are your using the libtool-generated launch script, or invoking the real executable directly in .libs? If you're invoking the real executable

[2011-05-04 14:48] eduardobeloni commented on #12
I launch the xfreerdp binary from /usr/bin. The command line is quite simple:

$ xfreerdp -u colorado -p *****\* win7

And here is the information you required:

$ X -version

X.Org X Server 1.7.7
Release Date: 2010-05-04
X Protocol Version 11, Revision 0
Build Operating System: Linux 2.6.32-5-686 i686 Debian
Current Operating System: Linux mentalist 2.6.32-3-686 #1 SMP Thu Feb 25 06:14:20 UTC 201

[2011-05-04 14:51] awakecoding commented on #12
Ok, the fact that you're launching it straight from /usr/bin might have to do with it. Can you please compile from scratch and launch xfreerdp using the launch script (./X11/xfreerdp) found in the source tree? If compiling from scratch + using the launch script fails, then it is not related to improper libraries being loaded at run-time.

[2011-05-04 15:01] eduardobeloni commented on #12
Launching ./X11/xfreerdp works.
Issues solved. Sorry for the inconvenience.

[2011-05-04 15:03] awakecoding commented on #12
That's ok :P watch out for which library gets loaded on your system, sometimes you're trying to fix something but keep loading the wrong library installed elsewhere. I'll close the issue then

[2011-05-13 21:48] eduardobeloni commented on #12
We got another colour issue: http://i55.tinypic.com/2njypzr.jpg

These are parts of the Xorg.0.log of the hardware. If there is more information we can provide you, just tell us:

(II) Loading /usr/lib/xorg/modules//libvgahw.so
(II) Module vgahw: vendor="X.Org Foundation"
    compiled for 1.5.3, module version = 0.1.0
    ABI class: X.Org Video Driver, version 4.1
(II) GEODE(0): Creating default D

[2011-05-13 21:53] awakecoding commented on #12
Hi beloni,

Is this is a big endian system? I see Geode listed in what you pasted, which suggests an x86 architecture, but we never know. Is this a different system from the one which you were previously experiencing issues with?

Please describe as much as possible, this is very likely linked to an endianness issue. I suspect there are problems with xfreerdp on big endian systems, I just didn't h

[2011-05-13 21:58] otavio commented on #12
Hello,

Yes, it is a x86 based machine. An AMD Geode LX800.

The color issue @beloni was having was on his desktop. Now this happens on the thin client.

[2011-05-13 22:02] awakecoding commented on #12
Hi Otavio,

Did the issue appear recently, and was working after I got it fixed for @beloni? Or is it the first time in a while you try it out on the thin client?

Which color depth are you using, 16 or 32bpp?

Also, how are you launching xfreerdp? Last time Eduardo was launching it directly with the executable and not the wrapper script, and an older version of libgdi.so installed elsewhere was l

[2011-05-13 22:05] otavio commented on #12
We used to use an old version (before the GDI work) and RDesktop on this. Both worked fine. The version we tested is a today's snapshot so this is an issue found on tip of git.

[2011-05-13 22:06] otavio commented on #12
It has been compiled into the embedded OS and a fresh system. Not from the git repository. So all libraries of freerdp are up to date and installed properly.

[2011-05-13 22:07] awakecoding commented on #12
Ok, here's why trying a compilation from scratch + the launch script is very important here:

in between the older version and the latest one, libgdi was introduced. If you're not using the launch script, the wrong libgdi.so may be loaded, so be careful with that. Have you tried launching with the launch script (X11/xfreerdp, not X11/.libs/xfreerdp)?

[2011-05-13 22:08] otavio commented on #12
About color depth you can see, from the log @beloni has pasted, it is running at 24bit with 32bit framebuffer.

[2011-05-13 22:09] awakecoding commented on #12
For color depth I meant the one used for the RDP session, with the -a <color_depth> parameter. This is important, because this influences the color conversion path used.

[2011-05-13 22:10] otavio commented on #12
It is packaged into the OS so it is being run from installed system, not source dir. The libraries has been all built and fresh installed, even libgdi.

[2011-05-13 22:11] otavio commented on #12
Ahh; IIRC he didn't pass any option but since it is Windows7 it ought to be 32bit, no?

[2011-05-13 22:15] awakecoding commented on #12
No, you can't assume 32-bit color depth, especially since certain servers disallow it. By default, xfreerdp tries to negotiate 16bpp color depth, not 32bpp, since 32bpp means bitmaps twice as large are used and are usually not the best choice performance-wise.

[2011-05-13 22:16] otavio commented on #12
This information I don't have offhand. AFAIK he didn't pass any option to specify the color depth of the connection so from the information you gave me it seems it ought to have used 16bit.

[2011-05-13 22:28] otavio commented on #11
Have you been able to reproduce this issue using current master branch?

[2011-05-13 22:30] otavio commented on #2
And does Microsoft client properly handle it?

[2011-05-13 22:32] awakecoding commented on #12
I did a simple test using a color picker to compare the brown color with the blue color it should have been:

brown: #7B601D, RGB(0x7B, 0x60, 0x1D)
blue:  #1D607B, RGB(0x1D, 0x60, 0x7B)

We can see that the error is that the blue and red colors have been swapped, as it is the case in errors related to BGR <-> RGB surfaces.

The brown color is drawn as part of an OpaqueRect message (see l_ui_rect i

[2011-05-13 22:35] otavio commented on #12
Right; it seems you traced it, cool :-) @beloni can give this information to you on Monday morning.

@beloni, please do the test @awakecoding has asked and provide the required information to him.

[2011-05-13 22:37] awakecoding commented on #2
Yes it does, Microsoft has its own Unicode conversion API: http://msdn.microsoft.com/en-us/library/ff563005/

Wine apparently has its own implementation for it

[2011-05-13 22:40] awakecoding commented on #12
Sounds good, I'll check it out when @beloni sends the info

[2011-05-14 02:27] cuzz commented on #11
Yes, I have tested the current master branch, the issue still exists.
Moreover, the issue also exists in function <B>"freerdp_uniconv_in"</B>.

Chinese characters do not necessarily account for every 2 bytes.
In fact, many characters occupy four bytes.

GB 18030-2000 is the new “compulsory” Chinese national standard.

http://en.wikipedia.org/wiki/GB_18030
<I>
The mandatory part of GB 18030-2005 co

[2011-05-14 18:38] otavio commented on #13
I fixes this build issue on 18e9d76c1936b6efc4ab6d91d127be20173ec903. Please try to reproduce the issue again using this revision.

[2011-05-14 18:38] #13 closed, assigned to otavio

[2011-05-16 12:46] tenchman opened #17 "Wrong types in declaration of rdp_send_input_unicode()"
rdp_send_input_unicode() in freerdp.[ch] uses an uint8 for unicode characters where ist should use an uin16.

[2011-05-16 13:15] otavio commented on #17
I am closing this issue since it is being handled on #18.

[2011-05-16 13:15] #17 closed, assigned to nobody

[2011-05-16 14:12] eduardobeloni commented on #12
Hi, I've posted the logs in the freerdp discussion list: http://sourceforge.net/mailarchive/forum.php?thread_name=149034.92771.qm%40web39405.mail.mud.yahoo.com&forum_name=freerdp-devel

I hope it is what you expect. The names of the log files refer to the -a parameter, so freerdp16 stands for an instance of freerdp with -a 16

[2011-05-16 14:13] awakecoding commented on #12
@beloni yes I've seen the logs, I'd like to know in which one of those cases is the color conversion bug occurring?

[2011-05-16 14:18] eduardobeloni commented on #12
@awakecoding Every single one :)

[2011-05-16 14:23] awakecoding commented on #12
ok, try the following:

in xfreerdp.c's main(), add the following line after xfi->clrconv->palette = NULL:
xfi->clrconv->invert = 1;

Try it out in 16bpp mode and see if the result is different. If it's still not working as expected, but does something different, please describe how it is different

[2011-05-16 14:25] awakecoding commented on #12
Also, add the following debug output in xf_win.c's xf_pre_connect:

printf("depth:%d be:%d\n", xfi->depth, xfi->xserver_be);

right after the following line:

xfi->xserver_be = (ImageByteOrder(xfi->display) == MSBFirst);

[2011-05-16 14:32] jpotier commented on #13
Issue is not reproduced after today's fix.
Thanks

[2011-05-16 14:37] eduardobeloni commented on #12
Well, if I'm not mistaken, this print already exists. You can find it in the first line of the logs.

[2011-05-16 15:43] awakecoding commented on #12
@beloni: you're right about the debug output, I thought I had added it myself only locally

did you try xfi->clrconv->invert = 1?

[2011-05-16 17:29] eduardobeloni commented on #12
Yes I did. But the results are the same. See the logs: http://sourceforge.net/mailarchive/forum.php?thread_name=378717.75098.qm%40web39404.mail.mud.yahoo.com&forum_name=freerdp-devel

[2011-05-16 19:58] eduardobeloni commented on #12
I've found something quite interesting: the first line of the log tells us that the server depth is 24, but all the colour conversions occur with the source 16 bpp and destination 32 bpp. Could it be the problem?

http://sourceforge.net/mailarchive/forum.php?forum_name=freerdp-devel&max_rows=25&style=nested&viewmonth=201105&viewday=16

[2011-05-16 20:36] otavio commented on #12
Fixed in f5aef3be8fac9a02b0c7bbb5424831a7b285e7bb.

[2011-05-16 20:36] #12 closed, assigned to awakecoding

[2011-05-16 20:39] awakecoding commented on #12
Eh, uninitialized memory... I should have known

[2011-05-16 20:45] otavio commented on #12
heh; since we use in a very memory constraint environment those bugs are more noticiable. Nice that we have got it :-)

[2011-05-17 08:32] terrible-broom opened #19 "reinserting smartcard"
The implementation of smartcard support in Freerdp has the old bug from rdesktop. It is described here:
http://sourceforge.net/tracker/?func=detail&aid=2777237&group_id=24366&atid=381347
http://sourceforge.net/tracker/?func=detail&aid=2789331&group_id=24366&atid=381347

Briefly what is happening:
If I plug in the USB smartcard (for example, eToken Pro Java), then start xfreerdp, I see PIN code req

[2011-05-17 13:04] otavio commented on #19
The first link has some interesting information ... it seems that we need to raise an event on a new device is plugged to force the reconnection.

[2011-05-18 17:53] mrmekon opened #22 "Missing include required to build in OS X"
<b>Problem</b>
Current git tip fails to build on OS X because of an unknown identifier (fd_set) in rdpdr_main.h:60

<b>Steps to reproduce</b>

<pre>
# git clone https://github.com/FreeRDP/FreeRDP.git
# cd FreeRDP/
# sh autogen.sh
# ./configure
# make
</pre>

<b>Expected result</b>
No error, built executable

<b>Actual Result</b>

<pre>
Making all in channels/rdpdr
  CC     rdpdr_la-rdpdr_main.lo

[2011-05-18 19:15] otavio commented on #22
@awakecoding it seems you have OSX at hand. Could you check this issue?

[2011-05-18 19:30] awakecoding commented on #22
rdpdr_main.h wasn't including sys/select.h which defines fd_set on Mac OS X. issue fixed and pushed on git.

[2011-05-18 19:30] #22 closed, assigned to awakecoding

[2011-05-22 08:10] otavio opened #23 "Document client name option for disk redirection"
Pull request #20 has implemented the option to set the client name for the disk redirection but this lacks a session on the manpage.

[2011-05-23 15:17] RankoR opened #24 "ssl.c: no such file"
There is no file ssl.c in libfreerdp.

[2011-05-27 14:46] otavio opened #26 "Audio input segfault"
While testing audio input plugin, on an embedded system, we got a segfault when we close the open device. In case you open the audio recorder and close it after using it, it segfaults.

[2011-05-27 14:49] otavio commented on #26
@llyzs I think you might have an idea about what the issue is. Can you take a look?

[2011-05-28 13:32] ToM-MaS opened #27 "Difference in color palette (256 colors) between FreeRDP (Windows) and native rdp client"
Hi everyone,
I'm currently developing the new Remote Desktop Client for ReactOS ( http://www.reactos.org ).
That means I'm using the FreeRDP Windows version.
I'm connecting from Windows 7 to a Windows 2000 Server for this example. (means 8 bit, 256 colors)
I've noticed a color difference between FreeRDP (git version 2011-05-02) and the native mstsc.
This image shows the difference (left freerdp, r

[2011-05-28 20:28] ahoppin opened #28 "Freerdp sound (audio) choppy on low bandwidth connection"
Sorry if this report is incorrectly formatted, I'm a relative newbie.

Version: 0.7 from tarball source
Hardware: Asus A7n8x, Athlon 2100, 512mb memory; further limited test with Lenovo T43 (specs unknown)
OS: Wary Puppy 5.1.1
Connection: T1 lan and 1.5mb/360k ADSL
Command: xfreerdp -a 16 -z --plugin rdpsnd [win_7_machine_ip_addr]

When connected to Windows 7 server machine via ~15mb/s lan, sound

[2011-05-30 13:14] llyzs commented on #26
is there a backtrace you can provide?

[2011-05-30 13:26] otavio commented on #26
I can try to gather something ...

[2011-05-30 13:32] awakecoding commented on #27
Hi,

The ReactOS project is welcome to replace rdesktop by FreeRDP for their built-in RDP client ;)

I'm willing to give it a try and see if I can find the source of the problem, but I do not have a Windows 2000 Server machine at my disposal. Were you able to reproduce the same issue with a more recent version of Windows?

[2011-05-30 17:20] ToM-MaS commented on #27
Hi!
Yeah, it's the same when I connect to Windows XP SP3 with 8 bit color depth preset in both clients.
http://www.thomasbrandt.net/ReactOS/FreeRDP/Freerdp_palette_problem_XP.png

[2011-06-02 03:36] g-reno opened #30 "rdpsnd: pulseaudio keeps closing and opening after desktop activity"
My Linux box uses pulseaudio.

I'm using a git pull about 2 weeks.

When I try to connect xfreerdp to Windows XP and redirect sound back
using pulseaudio the stream keeps dropping after I interact with the
desktop such as moving windows around.

Starts out fine:

[code]

Then after moving some windows, I get dropouts and every few seconds I
see this:

[code]

The connection is over the LAN.

[2011-06-02 03:41] g-reno opened #31 "rdpdr: printer:name:driver (HP LaserJet print job always 'stopped')"
Today I tested sharing my 2 local printers: Cups-PDF and HP-LaserJet-4-Plus.

Both working fine locally.

I started xfreerdp like this:

[code]

And on the server I see my two local printers.  But I can print to only
one of them (Cups-PDF).  The laserjet ends up going into 'stopped' status.

So then after reading some posts about maybe only one printer works,  I
restarted xfreerdp like this:

[cod

[2011-06-02 23:33] g-reno opened #32 "DirectFB UI: auto create a default ~/.directfbrc if missing"
DirectFB UI will crash if you don't have a ~/.directfbrc file in place.

FreeRDP should automatically create a default ~/.directfbrc file if one is not found.

[2011-06-02 23:35] awakecoding commented on #32
It will also crash if the resolution used by FreeRDP isn't the same as the one in the directfbrc file if there is one

are you sure that generating a default file is the way to go? DirectFB is not meant for everyday users

[2011-06-03 00:15] g-reno commented on #32
That's true but when someone does use it it shouldn't crash on them first thing.

If there is no default resource file the app should output one and log it on the console.

And the app should also check the resolutions and just error out with a message if they are not compatible.

[2011-06-03 08:22] nils-a commented on #32
2011/6/3, g-reno
reply@reply.github.com:

##

Gesendet von meinem Mobilgerät

[2011-06-03 12:47] otavio commented on #32
The dfbfreerdp could update the file depending on the  comand line args.

[2011-06-04 15:43] otavio opened #34 ".settings directory on SCM"
There's a .settings used by an IDE inside of SCM.

It would be better to drop it since it is not a common standard and people can use many different IDEs.

@awakecoding I am assigning it to you since it camed with a commit done by you.

[2011-06-04 16:30] awakecoding commented on #34
@otavio: I'll clean it up, it shouldn't have been there in the first place

[2011-06-04 20:02] otavio commented on #34
Dropped at 1a6184d3fe698fae9779d6b14e230bb8578dc59e

[2011-06-04 20:02] #34 closed, assigned to awakecoding

[2011-06-04 21:34] otavio opened #35 "Make install is broken"
After the clean up done in #33 the make install target is broken.

[2011-06-04 21:46] #35 closed, assigned to otavio

[2011-06-08 19:00] g-reno opened #37 "DirectFB UI: incorrect cursor tracking behavior"
I'm using the DirectFB version of freerdp.

Here are my rpms:
directfb-1.2.9-2.fc11.x86_64
tigervnc-0.0.90-0.10.fc11.x86_64

I'm having a problem with the cursor tracking.

When I start dfbfreerdp it starts on port 5900 and waits for a connection.

So I connect using vncviewer :0 and I can see the desktop login screen.

The problem I'm having is that the mouse pointer does not track the
mouse move

[2011-06-08 19:03] g-reno commented on #37
Here is an archive link to the directfb posting:
http://permalink.gmane.org/gmane.comp.graphics.directfb.user/2651

.

[2011-06-09 03:13] g-reno opened #38 "DirectFB UI: needs thread control"
DirectFB UI does not have any semaphore thread control like there is in the X UI.

[2011-06-09 03:36] g-reno commented on #38
Here is a patch that adds thread control to the DirectFB UI:

<pre><script><![CDATA[======================
diff --git a/dfb/dfbfreerdp.c b/dfb/dfbfreerdp.c
index 3c58f73..2293a99 100644
--- a/dfb/dfbfreerdp.c
+++ b/dfb/dfbfreerdp.c
@@ -27,6 +27,8 @@
 #include <errno.h>
 #include <pwd.h>
 #include <pthread.h>
+#include <semaphore.h>
+#include <freerdp/utils/semaphore.h>
 #include <freerdp/freerdp.h

[2011-06-09 21:23] g-reno commented on #32
Here is a patch that adds auto creating a default ~/.directfbrc resource file:

<pre><script><![CDATA[======================
diff --git a/dfb/dfbfreerdp.c b/dfb/dfbfreerdp.c
index 3c58f73..ebafd39 100644
--- a/dfb/dfbfreerdp.c
+++ b/dfb/dfbfreerdp.c
@@ -682,6 +689,27 @@ main(int argc, char ** argv)
        pthread_t thread;
        int index = 1;

+       char *home = getenv("HOME");
+       if (h

[2011-06-09 23:29] g-reno commented on #37
Steps to duplicate:

[code]

[2011-06-10 11:56] otavio commented on #32
This patch seems a good start but we need to handle the system backend someway. You're using x11 but people need to be able to use other and I can think of the need of _not_ overwrite the .directfbrc file et all (specially for debugging and like).

[2011-06-10 13:11] g-reno commented on #32
I can change system=X11 to system=fbdev (still Linux)

Not sure about allowable values but I guess that would be fbdev, opengl, directx, sdl.  Anything special for mac?
How do we query for the graphic system that is being used?
I guess we can just pick one based on the OS, after all this is just for creating a 'default' resource file.

And as long as a ~/.directfbrc file exists the code will not o

[2011-06-10 13:15] otavio commented on #32
I'd say to overwrite it except in case you use an option to forbid it. I also think fbdev ought to be used by default and you could have an option to overwrite it to use other (in case x11 for testing).

[2011-06-10 13:24] g-reno commented on #32
No overwriting.  That makes things very complicated.

All that is necessary is to create a 'default' resource file for the particular OS if one does not already exist.

If a resource file already exists we do nothing.

So for testing you just create whatever ~/.directfbrc you want for your testing and then it will not get overwritten.

[2011-06-10 13:31] otavio commented on #32
In theory, this works. But I think this is not user friendly.

[2011-06-10 13:39] g-reno commented on #32
Well, it's a whole lot more user friendly than having the system crash on them which is exactly what happens today.
And I mean it can lock up their workstation currently.

It is not necessary to have a bunch of controlling command line options or anything like that.
You create resource files using an editor not the app.

This is just to make sure that there is at least a default ~/.directfbrc in p

[2011-06-10 13:42] otavio commented on #32
I agree that it is more user friendly but FreeRDP can handle with it more properly IMO and even tought you don't use the command line options it seems more user friendly to me and easier to understand by new users.

I won't merge this patch this way. If someone else wants to do that, feels free.

[2011-06-10 16:38] g-reno commented on #32
Updated patch for setting default graphics system in the default ~/.directfbrc resource file:

<pre><script><![CDATA[======================
diff --git a/dfb/dfbfreerdp.c b/dfb/dfbfreerdp.c
index 3c58f73..ebafd39 100644
--- a/dfb/dfbfreerdp.c
+++ b/dfb/dfbfreerdp.c
@@ -682,6 +689,43 @@ main(int argc, char ** argv)
        pthread_t thread;
        int index = 1;

+       char *home = getenv("HOME")

[2011-06-10 18:51] awakecoding commented on #32
@otavio: I disagree with the idea of overwriting the file, or adding command-line options to tune how this default file is generated

I think the only acceptable action regarding the directfbrc file is to generate a default one if no such file exists. The rest can be modified with a text editor.

@g-reno:

AFAIC, DirectFB is not available on Windows, and it has been broken on Mac OS X for a while.

[2011-06-10 18:59] otavio commented on #32
@awakecoding in this case I think the software ought to warn the user that it is using the file and that he/she needs to change it if need.

[2011-06-10 19:01] awakecoding commented on #32
@otavio:

what if it generates a file with default values, warning the user about which values it is using, and that they might manual adjustements later on?

[2011-06-10 19:19] g-reno commented on #32
OS detection:
Windows was added because I found references of people attempts to port DirectFB to Windows.  I can remove Windows.  But, there is also X11 available on Mac.  I don't have a Mac right now but I think some detection should be kept here.  I'll make some changes and then maybe someone with Mac could test them.

Commenting:
I'll change comment style.
Is there some particular reason that

[2011-06-10 19:24] awakecoding commented on #32
@g-reno:

comments: you said it yourself, those are C++ style comments, while this is pure C. Plus, these are in the coding guidelines, which have been discussed already.

As for Mac OS X, I do have a Mac, and if it were to compile the backend would most likely be "x11", not opengl, to run on the Mac OS X X11 server (X11.app).

The DirectFB port doesn't work on Mac simply because DirectFB doesn't

[2011-06-10 19:39] otavio commented on #32
For me it works. I am experienced enough to look into code and understand what's going on.

I am unsure if this is how it ought to work for general users. I'd say, no; but ... it doesn't matter for me et all.

[2011-06-10 20:04] eduardobeloni opened #39 "Unknown keycodes 129 (numeric '.') and 97 ('?' or '/')"
I've got the following output for such ordinary keys:

[code]

This is the keyboard layout ID: -k 0x00010416, which I got from: 0x00010416 Portuguese (Brazilian ABNT2)
Setting the ID or not, the result is the same though

[2011-06-10 20:17] g-reno commented on #32
@awakecoding: Yes while working on this patch I saw your post about Mac OS X not compiling DirectFB.  It looks like you ran into the recursive mutex pthreads macro problem that bit BSD and OS X.  That was fixed a couple years ago I thought but looks like maybe there was a regression in pthreads.  That affects more than just Mac OS X w/DirectFB so I would think it will get fixed again.

.

[2011-06-10 20:39] g-reno commented on #32
Third patch update for setting default graphics system in the default ~/.directfbrc resource file:

<pre><script><![CDATA[======================
diff --git a/dfb/dfbfreerdp.c b/dfb/dfbfreerdp.c
index 3c58f73..6f02a64 100644
--- a/dfb/dfbfreerdp.c
+++ b/dfb/dfbfreerdp.c
@@ -682,6 +689,42 @@ main(int argc, char ** argv)
        pthread_t thread;
        int index = 1;

+       char *home = getenv("H

[2011-06-10 20:52] kiilerix commented on #39
On 06/10/2011 10:04 PM, beloni wrote:

That is with xfreerdp?

Is that with --with-xkbfile ?

If so: Please post the output with --with-debug-x11-kbd .

/Mads

[2011-06-11 14:28] g-reno commented on #32
https://github.com/FreeRDP/FreeRDP/pull/40 Patch merged in this pull-request issue.

[2011-06-11 14:28] #32 closed, assigned to nobody

[2011-06-11 14:30] g-reno commented on #38
https://github.com/FreeRDP/FreeRDP/pull/40 Patch merged in this pull-request issue.

[2011-06-11 14:30] #38 closed, assigned to nobody

[2011-06-12 03:46] g-reno commented on #24
There is no ssl.c because it was removed due to small usage and some uncertainty about the license:

http://comments.gmane.org/gmane.network.freerdp.devel/890

This issue can probably be closed.

[2011-06-12 03:59] awakecoding opened #41 "Certificate Validation and Storage"
Implement certificate validation and storage, such that when the user accepts a certificate with the ui_check_certificate callback it does not mark it is checked as valid on the next connection.

Change current behavior in xfreerdp where an invalid certificate only shows a warning, instead of requesting explicit acceptation from the user on the command-line.

Implement similar certificate checking

[2011-06-12 04:13] otavio commented on #41
Keep in mind that it needs to have a pluggable interface so UIs can provide alternative dialogs for it.

[2011-06-12 21:02] otavio opened #42 "make dist fails"
Due the refactoring done currently make dist fails completely.

[2011-06-12 21:18] otavio commented on #42
I started looking at it. Two issues has been fixed:
- 8ba51a7bba4a098ec9b4f9fe7544bf115a106c74
- 5e840e73ac82c81c2779c667838ce28a70684b06

[2011-06-12 22:31] otavio commented on #42
The last issues has been now fixed at:
- 8264b526425c9d95f49beb1b07c4bf01de8cf57f
- c20d01cc6f492154c443bf68649c1f10e6755a2e

I am then closing this issue.

[2011-06-12 22:31] #42 closed, assigned to otavio

[2011-06-13 07:16] oetiker opened #43 "support for compose key"
In rdesktop it was possible to use the compose key to write international characters ... this features was enabled using to enable_compose command in the keymap ... it would be great if similar functionality was available in freerdp as this provides consistent user experiance between working locally and within the rdp session.

[2011-06-13 10:42] kiilerix commented on #43
oetiker wrote, On 06/13/2011 09:16 AM:

What is the "compose" functionality are you referring to? "Dead keys"
where you for example first press "umlaut" and then "u" and get a "ü"?
Or that you can hold down "Alt" and enter a character number?

What FreeRDP version have you tested? Have you tried the git master
configured with --with-xkbfile?

/Mads

[2011-06-13 12:27] eduardobeloni commented on #39
Using --with-xkbfile or not, the result is the same. Apparently those keys aren't registered in virtualKeyboard (libfreerdp-kbd/keyboard.h), because they weren't found:

[code]

I think I've just got to add the proper entry in the virtualKeyboard table from keyboard.h. So I'm trying to figure out how are done all these X keycode to RDP keycode conversions, which are black magic for me so far...

[2011-06-13 12:29] oetiker commented on #43
Mads,

I have not tried HEAD ... willl do ... the compose key (in unix) works like this: if you want ä you type [compose],["],[a]
if you want ß you type [compose],[s],[s] ... so it is sort of like dead key on demand ... on the sun keyboards there was/is a compose key ... on others, people often use the right ctrl key as a replacement.

cheers
tobi

[2011-06-13 13:06] oetiker commented on #43
I have now tried the HEAD version with xkbfile and all I get from pressing [compose],["],[a] is

xf_kb_send_key: unknown key down keycode=117 (X keysym=0xFF20)
xf_kb_send_key: unknown key up keycode=117 (X keysym=0xFF20)

and in windows a "a

the compose key is also known as MULTI_KEY

cheers
tobi

[2011-06-13 13:21] kiilerix commented on #43
oetiker wrote, On 06/13/2011 02:29 PM:

So the version you tried was 0.8.2? If that is the case then the master
branch will not be any better.

Do that really work in rdesktop if you use a keyboard layout where there
is no other way to enter that key?

The challenge is that the RDP "normally" uses something resembling raw
scancodes and all decoding of keys and keyboard layout handling is done
on t

[2011-06-13 13:45] kiilerix commented on #39
beloni wrote, On 06/13/2011 02:27 PM:

Yes, the keyboard handling is messy. I made it more messy by replacing
most of it with (IMHO) simpler and more correct code that avoids using
the actual client side keyboard layout when the actual layout processing
is done on the server side. The old code is however apparently needed
for some platforms.

Note that when you are using xkbfile then -k is _only_

[2011-06-13 13:48] oetiker commented on #43
I used c20d01c from git.

It only works in rdesktop if the keymap contains enable_compose. On the windows side, a keyboard has to be selected which supports the keys that can be generated with the compose key ... so if the windows keyboard is US, compose will not work, as there is no key on the windows us keybard for ä ... but if I select a german keyboard on the windows side and enable_compose on

[2011-06-13 14:11] eduardobeloni commented on #39
Yeah, thats exacly the point: figure out what are the right RDP scan codes for these keys...

[2011-06-13 14:15] kiilerix commented on #43
oetiker wrote, On 06/13/2011 03:48 PM:

Ok, so now we know what rdesktop provides, but we want something more
stable than that and we have an idea how to achieve that. On the X side
we should however do like rdesktop: create an input context with
XCreateIC, make sure we ignore the keystrokes it uses for composing, and
get the character with XmbLookupString. I guess that will require that
we comple

[2011-06-13 14:18] kiilerix commented on #39
beloni wrote, On 06/13/2011 04:11 PM:

The RDP scan codes are often similar to the windows keyboard event
scancodes, so wfreerdp (or some windows tool) might give the right
answer too.

/Mads

[2011-06-13 14:19] oetiker commented on #43
how about enabling this only when the compose key is pressed ? it seems that compose has no counterpart on windows anyway ...

[2011-06-13 15:00] eduardobeloni commented on #39
Hello Mads

Thanks very much for the help. I've just pushed the fix.

[2011-06-13 15:00] #39 closed, assigned to nobody

[2011-06-13 17:04] g-reno opened #44 "DirectFB: Improve performance of event handling"
I noticed that the event handling is setup as a running loop in freerdp.

That works fine for workstations and PC's that have unlimited power sources.

But for laptops and embedded devices running loops can be battery killers.

Maybe we could explore some type of wait_event mechanism for event handling.

I stuck in a DEBUG statement to see what was going on and I could see that the loop was going

[2011-06-13 17:06] otavio commented on #44
Take a look on wait_obj. It might be what you're looking for.

[2011-06-13 19:53] otavio commented on #43
It seems it has been closed by mistake thus I reopened it.

[2011-06-13 21:33] g-reno commented on #44
Just looking around for running loops in the tree:

<pre>$ grep -RHn 'while (1)' *
channels/rdpdr/smartcard/scard_operations.c:461:    while (1)
channels/rdpdr/smartcard/scard_operations.c:660:    while (1)
channels/rdpdr/rdpdr_main.c:827:    while (1)
channels/rdpdr/rdpdr_main.c:896:    while (1)
channels/rdpdr/rdpdr_scard.c:78:    while (1)
channels/rdpdbg/rdpdbg_main.c:112:  while (1)
channels/

[2011-06-13 21:40] otavio commented on #44
We surelly welcome patches to address those :-D

[2011-06-13 21:47] g-reno commented on #44
I'm sure. :-)

I think this one is going to take a team effort to look at this.

The scope is pretty big and you would have to do all of it in order to accomplish the goal.

.

[2011-06-13 21:58] g-reno commented on #44
Yep, just what I was afraid of:

<pre>  PID USER      PR  NI  VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
 9979 root      20   0  446m  20m 2920 S 21.6  0.3   0:06.60 lt-dfbfreerdp
</pre>

This is just at idle with no plugins, no user activity, no server activity.

That level of idle CPU usage will kill a battery on a portable device in short order.

[2011-06-13 22:02] otavio commented on #44
Yes ... I fully agree.

Surely this is a team-work and we ought to commit to avoid this to happen again in the future however it is natural to have those issues as the project start to mature itself.

Currently I am quite busy on other stuff so I won't be at help for now. If you can start looking at it and propose patches it would be awesome.

I am sure that others can help with this issue and als

[2011-06-13 22:27] g-reno commented on #44
Right now it looks like these loops are all "polling" loops.

I think what we need are "wait event" loops that wait for an event interrupt to occur before they run the next cycle.

These are the copyrights from the files uniquely sorted, so probably they should make up the team I would think.

<pre>   Copyright 2009-2011 Jay Sorg
   Copyright 2010-2011 Vic Lee
   Copyright 2010 Marc-Andre Moreau <

[2011-06-13 23:50] otavio commented on #44
Some of those do that. You can even see how it is done to try to accommodate it your the one you wish.

[2011-06-14 00:24] g-reno commented on #44
Ok, I just reconfigured to compile X11 version.

It is showing less cpu usage than dfbfreerdp version.

So what is needed to make dfbfreerdp to behave like xfreerdp?

Maybe it is that improvements for event handling did not get migrated into the dfbfreerdp UI.

I'll try to look at this some more maybe tomorrow.

Maybe Jay or Vic could chime in here.

[2011-06-15 08:24] llyzs commented on #28
Since you are using version 0.7, it was old stable and the issue should have been already fixed in current git master. Would you like to verify it?

[2011-06-17 13:56] gadiromm opened #47 "Client fails with pa_operation_get_state() with no sound card"
When a client is set to enable audio redirection but lacks the sound card hardware to do so (for example, in a virtual machine), the client will log in but then die after log in when the audio is accessed.

The error is:

Assertion 'o' failed at pulse/operation.c:128, function pa_operation_get_state(). Aborted.

[2011-06-17 14:24] alesadam opened #48 "cursor rendering on Xdmx"
The setup is a system with two PCs, each with a single monitor sized 1600x1200, in portrait mode (making it two 1200x1600 monitors). They are combined using _Xdmx_ into one virtual 2400x1600 screen.

Running a freerdp session on each PC works as expected.
But combined with _Xdmx_, there seems to be a rendering problem.

I am able to reproduce the problem on a single PC, using two _Xephyr_ instance

[2011-06-17 14:31] alesadam commented on #48
some more info:

$ X -version

X.Org X Server 1.9.5
Release Date: 2011-03-17
X Protocol Version 11, Revision 0
Build Operating System: Linux 2.6.36-gentoo-r5 x86_64 Gentoo
Current Operating System: Linux david 2.6.36-gentoo-r5 #11 SMP Tue Mar 15 18:00:12 CET 2011 x86_64
Kernel command line: real_root=/dev/sda6 udev notsc vga=792 CONSOLE=/dev/tty1 quiet i915.modeset=1
Build Date: 16 June 2011  12:4

[2011-06-17 20:41] eduardobeloni opened #49 "Release keyboard grab with Ctrl-Alt"
http://sourceforge.net/tracker/?func=detail&atid=381349&aid=1569293&group_id=24366

[2011-06-20 03:34] ahoppin commented on #28
My error, apologies.  This is 0.8.2.

[2011-06-20 03:58] llyzs commented on #28
yes but this is also a known issue in 0.8.2 which should have been fixed in git master some time ago.

[2011-06-20 14:08] #7 closed, assigned to nobody

[2011-06-20 15:05] otavio commented on #27
Can't this issue has been fixed at with the change done in #50?

[2011-06-20 15:31] awakecoding commented on #27
@otavio: no, it has to do with palette handling, gdi_mono_image_convert() shouldn't be related to this

[2011-06-20 16:04] otavio commented on #41
You seem to be working on that. Is it done?

[2011-06-20 16:41] awakecoding commented on #41
@otavio: I didn't have the time yet to really get into it, I barely added a prompt in xfreerdp, which I ended up disabling because there is no certificate store yet.

I think I won't have enough time to work on this in the near future. The solution is to implement a complete certificate store, where certificates are stored along with the appropriate behavior. For instance, the certificate prompt w

[2011-06-20 17:22] otavio commented on #41
@awakecoding I think we ought to avoid using database when possible. We already use .freerdp on xpunlimited extension and seems like the simplest and easy way to go.

The parsing ought to be easy to right and we avoid the dependency against sqlite or whatever.

[2011-06-20 19:17] #23 closed, assigned to nobody

[2011-06-20 20:37] otavio commented on #24
This issue has been fixed long time ago so I am closing it.

[2011-06-20 20:37] #24 closed, assigned to nobody

[2011-06-21 18:12] dorianj commented on #27
I can confirm this on Unix using libfreerdp-gdi, I see it with a WinXP SP3 host in 8bit mode.

[2011-06-21 18:16] otavio commented on #27
If you can come up with a fix for it, it would be nice :-)

[2011-06-21 18:18] dorianj commented on #27
I'm going to work on it. I have worked with the color palettes in rdesktop before.

[2011-06-22 20:36] otavio commented on #26
<pre>
...

dvcman_write_channel
drdynvc_write_data
set_variable_uint
audin_send_open_reply_pdu
dvcman_write_channel
drdynvc_write_data
set_variable_uint
OpenEvent
OpenEvent
audin_alsa_thread_func
audin_alsa_thread_func: in
audin_alsa_set_params
audin_alsa_set_params: actual rate 22050 / channel 2 is different from target rate 22050 / channel 1, resampling required.
audin_alsa_thread_receive
audin_

[2011-06-24 17:43] eduardobeloni commented on #26
I've also got the following:

<pre>
...

audin_dsp_encode_ima_adpcm_sample
audin_dsp_encode_ima_adpcm_sample
audin_dsp_encode_ima_adpcm_sample
audin_dsp_encode_ima_adpcm_sample
audin_dsp_encode_ima_adpcm_sample
audin_receive_wave_data
audin_send_incoming_data_pdu
dvcman_write_channel
drdynvc_write_data
set_variable_uint
dvcman_write_channel
drdynvc_write_data
set_variable_uint
OpenEvent
OpenEvent

[2011-06-24 21:09] otavio commented on #26
It seems it is a sort of memory corruption. It is being a pain in the ass to figure the root cause of it since it only happens on the embedded machine (probably due the memory restriction).

The segfault happens in many different places.

Someone has any idea how to debug it?

[2011-06-25 09:31] llyzs commented on #26
Please try this patch:

<pre>
diff --git a/channels/drdynvc/audin/alsa/audin_alsa.c b/channels/drdynvc/audin/alsa/audin_alsa.c
index 1869ea7..60e4174 100644
--- a/channels/drdynvc/audin/alsa/audin_alsa.c
+++ b/channels/drdynvc/audin/alsa/audin_alsa.c
@@ -126,6 +126,9 @@ audin_alsa_thread_receive(struct alsa_device_data * alsa_data,

    while (frames > 0)
    {
+       if (wait_obj_is_set(alsa_dat

[2011-06-27 13:12] eduardobeloni commented on #26
The following is the output after applying your patch. This happen when I open Sound Recorder, then close it (without even clicking Start Recording):

<pre>
...

OpenEvent
OpenEvent: event 11
audin_alsa_thread_receive
audin_dsp_resample
audin_alsa_thread_receive: resampled 1524 frames at 22050 to 1524 frames at 22050
OpenEvent
OpenEvent: event 10
OpenEventProcessReceived
OpenEventProcessReceived:

[2011-06-28 02:53] llyzs commented on #26
Please try this one, but if it still does not fix it, we need to capture exactly which line caused the issue by inserting a lot of printf's line-by-line.

<pre>
diff --git a/channels/drdynvc/dvcman.c b/channels/drdynvc/dvcman.c
index 2eb0ebd..0c17aa1 100644
--- a/channels/drdynvc/dvcman.c
+++ b/channels/drdynvc/dvcman.c
@@ -402,14 +402,14 @@ dvcman_close_channel(IWTSVirtualChannelManager * pChanne

[2011-06-30 06:12] ahoppin commented on #28
Sorry to be an obvious noob, but I can't confirm this issue does not exist in the git master, as thus far I have not been able to successfully make the clone git master into an executable.  I'm making under Puppy 5.2.5, and it appears that the compiler is not correctly passing FreeRDP's option flags to the linker.  All goes smoothly until make tries to process ~/FreeRDP/channels/rdpdr/printer and

[2011-07-13 09:26] tenchman opened #57 "dead code fragments"
There are a lot of dead code fragments all over the source only visible if compiled with '-Wunused-but-set-variable'. I'm not really sure whether it is only dead code or in some cases hidden bugs.

[2011-07-13 09:28] tenchman opened #58 "dead code fragments"
There are a lot of dead code fragments all over the source only visible if compiled with '-Wunused-but-set-variable'. I'm not really sure whether it is only dead code or in some cases hidden bugs.

[2011-07-13 11:07] awakecoding commented on #58
@tenchman: I'm pretty sure most of them come out of capabilities.c, where some variables are populated from server capabilities and then unused. It's not much of a problem though, they're not hidden bugs. I'll see how I can work around this in 1.0.

[2011-07-13 11:57] tenchman commented on #57
double post, sorry

[2011-07-13 11:57] #57 closed, assigned to nobody

[2011-07-13 12:01] tenchman commented on #58
`__attribute__((unused))` could be useful to eliminate those warnings.

[2011-08-17 07:49] skydrop opened #61 "rdpdr serial,using serial printer for test"
using params:
xfreerdp --plugin rdpdr --data serial:COM1:/dev/ttyS0 -- IP

shell print:
registered device: COM1 (type=1 id=1)

the serial printer is: GPrinter GP5860III (http://www.gainscha.com/products_show.asp?lan=zh-en&skin=2&newsid=141577051)

print test page on windows xp, the GP5860III printer print a little and then stop.
on windows xp,it report can not print.

I also tested rdesktop .the s

[2011-08-18 01:53] dezhin opened #62 "Undefined reference to `freerdp_usleep'"
Compilation fails with a message "undefined reference to `freerdp_usleep'"

$ ./configure

[code]

./make

[code]

[2011-08-18 20:53] marijus-ravickas commented on #62
Same for me, ubuntu 10.04

[2011-08-19 14:32] awakecoding commented on #62
a fix has just been pushed on git

[2011-08-19 14:32] #62 closed, assigned to nobody

[2011-08-19 16:54] dezhin commented on #62
Thanks!

[2011-08-19 18:28] marijus-ravickas commented on #62
Thanx all is working now.

[2011-08-30 03:02] llyzs commented on #47
the crash was fixed in 1.0

[2011-08-30 03:02] #47 closed, assigned to llyzs

[2011-08-30 09:50] chihchun commented on #47
Fixed crashing issue in https://github.com/FreeRDP/FreeRDP-1.0/commit/bd5fb5c62a77df2d3686245efeb8f5fe727521e8

[2011-10-17 20:30] atong commented on #19
I can reproduce this in the new codebase, so let's track it here
https://github.com/FreeRDP/FreeRDP/issues/153

[2011-10-18 17:05] atong commented on #26
(move this to FreeRdp/issues?)

Against 1.0, I appended tid %x to audin_alsa_thread_func's debugging, the ERROR is when alsa->buffer == NULL

Here is a subset of the debug output, # are my notes

DBG_DVC drdynvc_process_create_request (208): ChannelId=5 ChannelName=AUDIO_INPUT
DBG_DVC drdynvc_process_create_request (219): channel created
DBG_DVC audin_alsa_open (300):
DBG_DVC audin_alsa_thread_fun

[2011-10-18 18:18] otavio commented on #26
Please move it to FreeRDP/issue as we do need to track it down for 1.0 release. 0.9 is dead code for us now.

[2011-12-01 13:43] helgef opened #65 "Keyboard input not working under OSX"
Git show:

commit a0a25a61d89018c3ca7d551f36f33d45b90249d5
Merge: e84e383 526c557

Some issues found while testing on OSX 10.7.2 with latest GIT source. (Same issues observed last month, but not reported). No errors seen when compiling. Connecting to the same host from linux works well.

Setup: Running windows as a virtual guest system under virtualhost on linux (Ubuntu) server. Unfortunately no n

[2011-12-01 13:47] otavio commented on #65
This won't be fixed on -old version only on the 1.0 one. Please report an issue on 1.0 so we track it there.

All the info you posted is valuable and thanks by reporting it.

[2011-12-01 13:48] helgef opened #66 "Unable to connect to Virtualbox RDP server"
commit a0a25a61d89018c3ca7d551f36f33d45b90249d5

Virtualbox implements its own RDP server displaying its guest OS. FreeRDP does not work with this server. MS Remote Desktop client (for mac) works fine.

Show connected, but never displays:

Helges-MacBook-Air:X11 helge$ ./xfreerdp 192.168.1.150
Warning xf_GetWindowProperty (104): Property 294 does not exist
connected to 192.168.1.150:3389

[2011-12-01 13:49] #66 closed, assigned to nobody

[2011-12-01 13:49] otavio commented on #66
Please, report this against FreeRDP/FreeRDP project.

Closing the issue as it is not valid to this tree.

[2011-12-01 13:49] helgef commented on #65
Sorry, my mistake. This was supposed to go in the 1.0 issue tracker..

[2012-02-08 07:03] guidovansteen commented on #49
+1. This is definitely the most important feature that I need in freerdp.

Please make it possible to bind "release keyboard grab" to some predefined combination of keys, preferably a combination of keys that the user can specify.

Without this feature I cannot switch from rdestop to freerdp.

[2012-02-20 16:55] mseiwald commented on #49
+1

Maybe it could be bound to the right Ctrl key like in Virtualbox by default.

edit:
Just saw, that this is implemented in [Remmina](https://github.com/FreeRDP/Remmina/) which uses FreeRDP as Backend.

[2013-02-08 08:28] jiaxi2000 opened #67 "Audio Choppy"
I was wondering if anyone else was experiencing the rdpsnd choppy when setting the audio quality to High or Dynamic.

Version : freerdp1.0.2
cmd:xfreerdp  --no-nla --plugin rdpsnd --data alsa  --  --rfx --rfx-mode i -f 192.168.1.95:3389&
Vitural machine:Win7
Audio Quality:High

[2014-07-09 15:31] kevinf28 commented on #49
+1 this is the best part of Remmina, the right Ctrl key. #931 is related.
Essentially, while staying fullscreen, you can quickly hit this key, then eg: "Ctrl+Alt+Left" to switch to another workspace, without using a mouse.

[2015-02-09 10:05] khvMX commented on #49
+1 Indeed. Switched from Remmina to xfreerdp because of multi-monitor support, and the most needed feature is this one. Interestingly enough, exactly for the same scenario: "Right-Ctrl", "Ctrl+Alt+Up".

[2015-02-20 08:16] khvMX commented on #49
I'm trying to implement the feature in xfreerdp. I'm not an expert in XLib, though. I was able to use XUngrabKeyboard successfully, and binded it to different keys trying to find the best. However, I'm facing some problems.
I can't handle the fullscreen mode at all. It seems like I can ungrab the keyboard while in fullscreen xfreerdp session, and I can even switch between workspaces and applicatio

[2015-02-25 10:12] mxgr7 commented on #49
@khvMX could you share your solution?

[2015-02-26 10:38] khvMX commented on #49
Here's a git patch:
https://gist.github.com/khvMX/66e0b14c71a32aca1bc7
What it does is simply ungrabbing the keyboard when not in fullscreen with a "Right Ctrl" key. It has currently at least 2 problems:
1. The fullscreen mode implementation seems a bit weird for me. Consider a scenario: I have 2 monitors: on the left hand side is a fullscreen-one-monitor-xfreerdp session is running, on the right

[2015-03-17 14:35] khvMX commented on #49
Hmm, after some of the Ubuntu updates today it seems that this patch does not ungrab the keyboard anymore..

[2015-11-05 00:45] leeyefa opened #68 "about freerdp_mitm"
some time ago there is a plugin freerdp_mitm.c,but i can't find it now,have you solve the problem about the NLA in with the proxy?

[2016-08-08 13:07] Rudedog9d commented on #49
@khvMX Any progress on fullscreen mode? I have the exact same problem as you. I will be implementing your patch, as it is better than nothing! :)

[2016-08-08 13:27] khvMX commented on #49
@Rudedog9d Hi. No, didn't touch it, works well for me so far :) There are majorly one thing that still annoys me, namely:
each time you exit fullscreen mode the RDP window moves down to the amount of pixels which is roughly equal to the window title bar, resulting in window coming down with a time :D That is, when I switch back and forth between Gnome Environment and RDP, i have to grab this freak

[2016-08-08 13:31] Rudedog9d commented on #49
Ok, cool! I was thinking that would be very frustrating aswell, but still very good piece of technology here! I may look into expanding upon your patch this semester at school, I will keep you updated if I do :)

Thanks for the patch you did create!

[2016-08-08 14:54] Rudedog9d commented on #49
@khvMX I have a version that works with fullscreen :) It's not perfect, maybe you can help improve it - I reused code that already existed in the source (although it appears to not have existed in yours). Using ctrl+alt+C releases the keyboard for a single action, such as switching desktops. The fix:
Basically just add your line `XUngrabKeyboard(xfc->display, CurrentTime);` to this section:

[code

[2016-08-09 02:43] kevinf28 commented on #49
@Rudedog9d  the first line of the patch "if ((keysym == XK_c) || (keysym == XK_C))" introduced the (lower and uppercase) 'c' via keysyms https://tronche.com/gui/x/xlib/input/keyboard-encoding.html

[2016-08-09 11:00] khvMX commented on #49
Hmm, seems like this
`xf_toggle_control(xfc);`
does the trick of releasing control keys in fullscreen mode. With this line it works with my patch also with Right Ctrl in both fullscreen and windowed mode.
My Full patch for Right Ctrl: https://gist.github.com/khvMX/1519678698b48e6bfbe5dc69dc4eeca6
I still don't have the feeling that this would be enough for a pull request. At least the combination

[2016-08-09 13:42] khvMX commented on #49
@Rudedog9d
Just found out that in my patch, using
`if (mod.Ctrl && mod.Alt)`
instead of
`if (mod.RightCtrl)`
is much much easier in the end. I've been using right ctrl in fullscreen mode for some things (e.g. ctrl+shift+arrow to select another word in IDE), so this patch would break it. Now I can switch between desktops and even lock a screen (Ctrl+Alt+L) without even leaving RDP Window :) Thumbs

[2016-08-09 13:54] Rudedog9d commented on #49
@kevinf28 Thank you, that makes more sense now!
@khvMX No problem, glad I could help! :) And thank YOU for pointing me in the right direction... I think I will end up using 'Super+ESC' or similiar for my escape sequence, as I already use Super for most of my window management keystrokes. I'm not sure how the whole pull thing works, but I noticed we are in the 'FreeRDP-old' repo - Our little hack p

[2016-11-24 09:33] TvL2386 commented on #49
I would love for xfreerdp to send ctrl+alt+up and ctrl+alt+down to my linux host (ubuntu) so I can switch to another workspace. I'm using fullscreen xfreerdp on my 2nd workspace. This works great in the Citrix Receiver.

It's quite cumbersome to have to switch back to windowed mode using ctrl+alt+enter and move the mouse outside the xfreerdp window.

The patch seems to be here, so just merge it? O

[2021-03-05 09:25] Lautsprecher opened #69 "Copy Paste not working"
Hi,

i could not longer copy/paste text from the client to the FreeRDP destination.
The Last Exe who did this for me was Build 23.02.2021 02:46.
Exes after that Date do not.

my start cmd...
wfreerdp.exe /v:TARGET /f /smart-sizing /u:user.name@bla.de +clipboard +floatbar

Greetings and Thanks
Rainer